@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: #F8F9FA;
  width: 100%;
  margin: 0;
  height: auto;
}

/* General Body */
.mainBody {
  background-color: #F8F9FA;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.topbar{
  width: 80%;
  height: 100px;
  top: 0;
  left: 20;
  justify-content: space-evenly;
  position: fixed;
  padding: 10px;
  z-index: 1000;
}

/* Sidebar */
.sidebar {
  background-color: #ffffff;
  top: 0;
  width: 20%;
}

.list-group{
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  border: none;
  background-color: #ffffff;
}

.list-group-item {
  border: none  !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #333;
  background-color: transparent;
}

.list-group-item a {
  display: flex;
  width: fit-content;
  font-weight: bold;
  justify-content: space-between;
  color: gray;
  text-decoration: none;
  background-color: transparent;
}

.icons {
  background-color: transparent;
  color: #007BFF;
  margin-right: 10px;
}

.list-group-item i {
  color: #007BFF;
  width: 20px;
  background-color: transparent;
}

.list-group :hover{
  background-color: #007BFF;
  color: white;
  border-radius: 7px;
}

.list-group :hover .icons{
  color: white;
}

.list-group :hover i{
  color: white;
}

.sidebar-divider {
  border-top: 1px solid #007BFF;
  margin: 20px 0;
}

.topbar-left {
  padding: 20px;
  background-color: white;
}

.menubtn{
  color: #ff5733;
}

.sidebar-title {
  font-size: 1.8rem;
  color: #007BFF;
  font-weight: bolder;
  margin-right: 30px;
  background-color: white;
}

.topbar-middle{
  width: 70%;
  padding: 20px 0;
}

.searchBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;
  border: 2px solid #ccc;
  border-radius: 30px;
  background-color: #F8F9FA;
}

.searchIcon{
  width: 20px;
  height: 20px;
  margin: 10px;
}
.searchBar {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  color: #000;
  font-size: 14px;
  background-color: transparent;
}

.searchBar::placeholder {
  color: #999;
}

.searchButton {
  width: 80px;
  height: 100%;
  margin-right: 5px;
  background-color: #F8F9FA;
  color: grey;
  font-weight: bold;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover{
  color: #007BFF;
}

.headers-2 {
  color: #007BFF;
}

.topbar-right {
  width: 25%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.login-btn {
  width: 100px;
  background-color: #007BFF;
  color: white;
  border-radius: 7px;
  margin-right: 5px;
}

.signup-btn {
  width: 100px;
  background-color: #FFC107;
  color: white;
  border-radius: 7px;
  margin-left: 5px;
}

.signup-btn:hover {
  background-color: #FFC107;
}

.login-btn:hover {
  background-color: blue;
}
.pages-container h1 {
  color: #007BFF;
  font-weight: bolder;
}

.notification-bell {
  position: relative;
  font-size: 30px;
  color: gray;
  cursor: pointer;
}

.notification-count {
  position: absolute;
  width: fit-content;
  top: 3px;
  right: 25px;
  background-color: #FFC107;
  color: white;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 7px;
  font-weight: bold;
}


a {
  color: #FFC107;
}

a .notificationIcon i{
  color: #FFC107;
}

.content{
  margin-top: 80px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}


.content::-webkit-scrollbar {
  width: 0;
}

.content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Footer */
.copyRight {
  background-color: #F8F9FA;
  font-size: 0.8rem;
  font-weight: bold;
  color: #333;
}

.copyRight a{
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
  font-size: 0.8rem;
}

/* Container for the card */
.sell-your-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #F8F9FA;
}

/* Card styling */
.sell-your-item-card {
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Button styling */
.google-btn {
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.google-btn img.google-logo {
  width: 20px;
  height: 20px;
}

.gglbtn{
  width: fit-content;
  background-color: white;
}
.email-btn {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.email-btn:hover{
  color: #fff;
  background-color: blue;
  border-color: blue;
}

.google-btn:hover{
  border-color: blue;
}
/* Link styling */
.policies{
  margin-top: 7px;
  background-color: white;
}
a {
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  text-decoration: none;
}

/* Footer text */
.text-muted {
  font-size: 0.8rem;
  color: gray;
}

.card-header {
  background-color: white;
}

.card-words {
  background-color: white;
}

.card-words p{
  background-color: white;
}

.card-words p .card-links{
  background-color: white;
}

.card-words .card-links{
  background-color: white;
}

/* Container for the card */
.create-account-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #F8F9FA;
}

/* Card styling */
.create-account-card {
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Input styling */
.form-control {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

.card-form {
  background-color: white;
}

/* Submit button styling */
.submit-btn {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.submit-btn:hover{
  background-color: red;
  color: #fff;
}

.text-danger {
  font-size: 0.8rem;
  color: red;
}

/* My Posts Container */
.my-posts-container {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  max-width: 600px;
  margin: 20px auto;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
}

/* Posts Dynamic Height */
.my-posts-container.expanded {
  max-height: none; /* Automatically adjusts to content */
}

/* Post Separator */
.post-separater {
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.topbar-seller-name {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  padding: 10px;
  right: 0;
  align-items: center;
  background-color: #F8F9FA;
}

.seller-name {
  font-weight: bold;
  color: #007BFF;

}
.rounded-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  object-fit: cover;
  border: 1px solid grey;
  cursor: pointer;
}



/* Dialog Overlay */
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Dialog Card */
.dialog-card {
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Dialog Icon */
.dialog-icon {
  font-size: 48px;
  margin-bottom: 20px;
}

/* Success Icon */
.dialog-icon.success {
  color: #28a745; /* Green */
}

/* Error Icon */
.dialog-icon.error {
  color: #dc3545; /* Red */
}

/* Dialog Text */
.dialog-text {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Dialog Buttons */
.dialog-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 5px;
}

.dialog-button.ok {
  background-color: #28a745;
  color: white;
}

.dialog-button.cancel {
  background-color: #dc3545;
  color: white;
}

.dialog-button:hover {
  opacity: 0.9;
}

.my-posts-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 900px;
  margin: 30px;
  background-color: #ffffff;
  border: 0.5px solid #ccc;
  border-radius: 10px;
}

.my-posts-container-top{
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.my-posts-heading{
  color: green;
  margin-left: 20px;

}
.delete-btn{
  width: fit-content;
  padding: 5px 15px;
  color: #fff;
  font-size: 0.9rem;
  background-color: #28A745;
  border-radius: 10px;
  font-weight: bold;
}

.post-separater{
  width: 90%;
}

.my-posts-container-btm{
  display: flex;
  flex-direction: row;
  padding: 10px;
}

/* Styling for card-post */
.card-post {
  width: 350px;
  height: 400px;
  margin: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-post .post-image {
  width: 100%;
  height: 66%; /* 2/3 of the card height */
  object-fit: cover;
}

.card-post .post-item {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-post .post-item p {
  margin: 5px 0;
}

.card-post .delete-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #28A745;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.card-post .delete-btn:hover {
  background-color: #28A745;
}

.my-posts-container-btm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
}

.my-posts-container {
  padding: 20px;
  background-color: white;
}

.noPost {
  text-align: center;
  color: #888;
  font-size: 16px;
  background-color: white;
}

.my-posts-heading {
  background-color: white;
}

.noPost{
  text-align: center;
  background-color: white;
}
.upload-item-card {
  width: 900px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.upload-item-heading{
  color: #007BFF;
  background-color: white;
}
.separater {
  border-top: 1px solid #ccc;
  margin: 30px 0;
}

form .row {
  display: flex;
  gap: 15px;
  background-color: white;
}

form .col {
  flex: 1;
  background-color: white;
}

form .form-control,
form .form-select {
  height: 45px;
  padding: 10px;
  font-size: 14px;
}

.submit-btn {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: blue;
}


/* All Pages css*/
.pages-container {
  text-align: left;
  background-color: #F8F9FA;
}


.button-group {
  display: flex;
  justify-content: left;
  margin-top: 10px;
  background-color: #F8F9FA;
}

.filter-button {
  width: fit-content;
  height: 40px;
  padding: 5px 15px;
  margin: 0 5px;
  border: none;
  border-radius: 15px;
  background-color: #212529;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-button.active {
  background-color: #007BFF;
}

.filter-button:hover:not(.active) {
  background-color: blue;
}

.welcome-header {
  background-color: #F8F9FA;
}

.no-items-message {
  background-color: #F8F9FA;
}

.items-container {
  display: flex;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #F8F9FA;
}

.no-items-message {
  font-size: 18px;
  color: #555;
  align-items: center;
}

/* Home.tsx styles */
.items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 1rem;
  max-height: calc(150vh - 270px);
  overflow-y: auto;
  scrollbar-width: none;
  align-items: stretch;
}

.items-container::-webkit-scrollbar {
  display: none;
}


.item-card {
  border: 1px solid #ddd;
  border-radius: 12px;
  max-width: 230px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: auto;
}

.item-card:hover {
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  transition: 0.6s ease-out;
}

.item-image {
  height: 60%;
  min-height: 180px;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
}

.item-details {
  padding: 0.75rem;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-details h5 {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 900;
}

.item-details p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.icon-btn {
  width: 40%;
}

.expand-button {
  background: none;
  border: none;
  width: fit-content;
  cursor: pointer;
  padding: 0;
  color: #007BFF;
}

.favorite-button {
  background: none;
  border: none;
  width: fit-content;
  cursor: pointer;
  padding: 0;
  margin-left: 20px;
  color: red;
}

.item-expanded {
  padding: 0.75rem 1rem 1rem;
  border-top: 1px solid #eee;
  background-color: #fafafa;
  transition: 5ms;
}

.purchase-button {
  margin-top: 0.5rem;
  width: 100%;
  padding: 0.6rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.purchase-button:hover {
  background-color: #0056b3;
}

/* pagination styles */
.pagination-container {
  width: 60%;
  justify-content: center;
  margin: 5rem;
}
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin: 2rem 0;
}

.pagination-controls Pagination.Item {
  background: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 100px;
}

.pagination-controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.page-number {
  font-weight: bold;
}
