@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  background-color: #F8F9FA;
  height: 100vh;
  overflow: hidden; /* only here is safe */
}

/* General Body */
.mainBody {
  background-color: #F8F9FA;
  height: 100vh;
  display: flex;
  overflow: hidden;
  width: 100vw;
}
.topbar{
  flex: 1;
  height: 70px;
  top: 0;
  right: 0;
  left: 250px;
  justify-content: space-between;
  position: fixed;
  padding: 0 10px;
  z-index: 1000;
  display: flex;
  background-color: #F8F9FA;
}

/* Sidebar */
.sidebar {
  background-color: #FFF;
  top: 0;
  width: 250px;
  height: 100vh;
  background-color: #FFF;
}

.list-group{
  border: none;
  background-color: #FFF;
}

.list-group-item {
  border: none  !important;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 5px;
  max-width: 200px;
  padding: 8px 15px;
  align-items: center;
  color: #333;
  background-color: transparent;
}



.icons {
  background-color: transparent;
  color: #007BFF;
  margin-right: 10px;
}

.list-group-link {
  width: 100%;
  height: 100%;
  color: gray;
}

.list-group :hover{
  background-color: lightblue;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.list-group :hover .icons{
  color: #007BFF;
}

.list-group :hover .list-group-link{
  color: #007BFF;
}

.list-group :hover i{
  color: #007BFF;
}

.sidebar-divider {
  border-top: 1px solid #007BFF;
  margin: 20px 0;
}

.topbar-left {
  padding: 20px;
  background-color: white;
}

.menubtn{
  color: #ff5733;
}

.sidebar-title {
  font-size: 1.8rem;
  color: #007BFF;
  font-weight: bolder;
  margin-right: 30px;
  background-color: white;
}

.topbar-middle{
  width: 70%;
  padding: 20px 0;
  align-items: center;
}

.searchBox {
  width: 40%;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  gap: 8px;
  flex: 1;
  max-width: 500px;
  margin-right: 10px;
  background-color: #F8F9FA;
}

.searchIcon{
  width: 20px;
  height: 20px;
  margin: 10px;
}
.searchBar {
  border: none;
  outline: none;
  flex: 1;
  color: #212529;
  background-color: transparent;
}

.searchBar::placeholder {
  color: #999;
}

.searchButton {
  width: 80px;
  height: 100%;
  margin-right: 5px;
  background-color: #F8F9FA;
  color: grey;
  font-weight: bold;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover{
  color: #007BFF;
}

.headers-2 {
  color: #007BFF;
}

.topbar-right {
  width: 25%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.login-btn {
  width: 100px;
  background-color: #007BFF;
  color: white;
  border-radius: 7px;
  margin-right: 5px;
}

.signup-btn {
  width: 100px;
  background-color: #FFC107;
  color: white;
  border-radius: 7px;
  margin-left: 5px;
}

.signup-btn:hover {
  background-color: #FFC107;
}

.login-btn:hover {
  background-color: blue;
}
.pages-container h1 {
  color: #007BFF;
  font-weight: 400;
}

.username-display {
  background-color: #F8F9FA;
  color: #007BFF;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.username-display h5{
  background-color: #F8F9FA;
}

a {
  color: #FFC107;
}

a .notificationIcon i{
  color: #FFC107;
}

.content{
  margin-top: 80px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}


.content::-webkit-scrollbar {
  width: 0;
}

.content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Footer */
.copyRight {
  background-color: #F8F9FA;
  font-size: 0.8rem;
  font-weight: bold;
  color: #333;
}

.copyRight a{
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
  font-size: 0.8rem;
}

/* Container for the card */
.sell-your-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #F8F9FA;
}

/* Card styling */
.sell-your-item-card {
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Button styling */
.google-btn {
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.google-btn img.google-logo {
  width: 20px;
  height: 20px;
}

.gglbtn{
  width: fit-content;
  background-color: white;
}
.email-btn {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.email-btn:hover{
  color: #fff;
  background-color: blue;
  border-color: blue;
}

.google-btn:hover{
  border-color: blue;
}
/* Link styling */
.policies{
  margin-top: 7px;
  background-color: white;
}
a {
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  text-decoration: none;
}

/* Footer text */
.text-muted {
  font-size: 0.8rem;
  color: gray;
}

.card-header {
  background-color: white;
}

.card-words {
  background-color: white;
}

.card-words p{
  background-color: white;
}

.card-words p .card-links{
  background-color: white;
}

.card-words .card-links{
  background-color: white;
}

/* Container for the card */
.create-account-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #F8F9FA;
}

/* Card styling */
.create-account-card {
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Input styling */
.form-control {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

.card-form {
  background-color: white;
}

/* Submit button styling */
.submit-btn {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.submit-btn:hover{
  background-color: red;
  color: #fff;
}

.text-danger {
  font-size: 0.8rem;
  color: red;
}

/* Post Separator */
.post-separater {
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.topbar-seller-name {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  padding: 10px;
  margin-right: 90px;
  align-items: center;
  background-color: #FFF;
}

.seller-name {
  font-weight: bold;
  color: #007BFF;
  background-color: #FFF;

}
.rounded-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid grey;
  cursor: pointer;
  background-color: #FFF;
}

.seller-img-dropdown {
  background-color: #FFF;
  width: fit-content;
}

.seller-dropdown {
  background-color: #FFF;
}

.upload-item-topbar {
  justify-content: right;
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #FFF;
  top: 0;
  left: 250px;
}

.my-posts-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 95%;
  margin: 30px;
  background-color: #F8F9FA;
}

.my-posts-heading{
  color: #007BFF;
  margin-left: 20px;
  background-color: #F8F9FA;

}

.post-separater{
  width: 90%;
}

.my-posts-container-btm{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 1rem;
  background-color: #F8F9FA;
}

/* Styling for card-post */
.card-post {
  width: 350px;
  height: 400px;
  margin: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-post .post-image {
  width: 100%;
  height: 66%; /* 2/3 of the card height */
  object-fit: cover;
}

.card-post .post-item {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-post .post-item p {
  margin: 5px 0;
}

.card-post .delete-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #28A745;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.card-post .delete-btn:hover {
  background-color: #28A745;
}

.my-posts-container-btm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
}

.my-posts-container {
  padding: 20px;
  background-color: white;
}

.noPost {
  text-align: center;
  color: #888;
  font-size: 16px;
  background-color: white;
}

.my-posts-heading {
  background-color: white;
}

.noPost{
  text-align: center;
  background-color: white;
}
.upload-item-card {
  width: 900px;
  padding: 20px;
  justify-self: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.upload-item-heading{
  color: #007BFF;
  background-color: white;
}
.separater {
  border-top: 1px solid #ccc;
  margin: 30px 0;
}

form .row {
  display: flex;
  gap: 15px;
  background-color: white;
}

form .col {
  flex: 1;
  background-color: white;
}

form .form-control,
form .form-select {
  height: 45px;
  padding: 10px;
  font-size: 14px;
}

.submit-btn {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: blue;
}


/* All Pages css*/
.pages-container {
  text-align: left;
  background-color: #F8F9FA;
  width: 100%;
}

.button-group {
  width: fit-content;
  align-items: center;
  padding: 3px 3px;
  border-radius: 17px;
  background-color: #ccc;
}

.filter-button {
  padding: 4px 18px;
  border: none;
  border-radius: 15px;
  background-color: #ccc;
  color: #555;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-button.active {
  background-color: #fff;
  color: #0d6efd;
  box-shadow: 0 0 5px rgba(13, 110, 253, 0.2);
}

.welcome-header {
  background-color: #F8F9FA;
}

.no-items-message {
  background-color: #F8F9FA;
}

.items-container {
  display: flex;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #F8F9FA;
}

.no-items-message {
  font-size: 18px;
  color: #555;
  align-items: center;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 1rem;
  max-height: calc(150vh - 270px);
  overflow-y: auto;
  scrollbar-width: none;
  align-items: stretch;
}

.items-container-loading {
  background-color: #F8F9FA;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 200px;
  width: 100%;
}


.items-container::-webkit-scrollbar {
  display: none;
}


.item-card {
  border: 1px solid #ddd;
  border-radius: 12px;
  max-width: 230px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: auto;
}

.item-card:hover {
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  transition: 0.6s ease-out;
}

.item-image {
  height: 60%;
  min-height: 180px;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
}

.item-details {
  padding: 0.75rem;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-details h5 {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 900;
}

.item-details p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.icon-btn {
  width: 40%;
}

.expand-button {
  background: none;
  border: none;
  width: fit-content;
  cursor: pointer;
  padding: 0;
  color: #007BFF;
}

.favorite-button {
  background: none;
  border: none;
  width: fit-content;
  cursor: pointer;
  padding: 0;
  margin-left: 20px;
  color: red;
}

.item-expanded {
  padding: 0.75rem 1rem 1rem;
  border-top: 1px solid #eee;
  background-color: #fafafa;
  transition: 5ms;
}

.purchase-button {
  margin-top: 0.5rem;
  width: 100%;
  padding: 0.6rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.purchase-button:hover {
  background-color: #0056b3;
}

/* pagination styles */
.pagination-container {
  width: 60%;
  justify-content: center;
  margin: 5rem;
}
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin: 2rem 0;
}

.pagination-controls Pagination.Item {
  background: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 100px;
}

.pagination-controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.page-number {
  font-weight: bold;
}

.modal-full {
  background-color: transparent;
}

.modal-container {
  background-color: transparent;
  color: #FFF;
}

.modal-header {
  background-color: #FFF;
}

.modal-title {
  background-color: #FFF;
  font-weight: 300;
}

.modal-body {
  background-color: #FFF;
}

.modal-body img{
  background-color: #FFF;
}

.modal-body h5{
  background-color: #FFF;
}

.modal-body b{
  background-color: #FFF;
}

.modal-body p{
  background-color: #FFF;
}

.modal-body a{
  background-color: #FFF;
}

.modal-form {
  background-color: #FFF;
}

.modal-group {
  background-color: #FFF;
}

.modal-label {
  background-color: #FFF;
  font-weight: 300;
}

.modal-input {
  background-color: #FFF;
}

.error-texts{
  background-color: #FFF;
}

.modal-checkbox {
  background-color: #fff;
}

.modal-check {
  background-color: #FFF;
}

.modal-checkbox label{
  background-color: #fff;
}

.modal-footer {
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.modal-footer button{
  width: fit-content;
  margin: 5px;
  color: #fff;
}

.center-container {
  background-color: #F8F9FA;
  padding: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.center-container-card {
  background-color: #FFF;
  width: 80%;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.center-container-card p {
  background-color: #FFF;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  font-size: smaller;
  font-weight: 100;
  width: fit-content;
}

.center-container-card h5 {
  background-color: #FFF;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 500;
  width: fit-content;
  color: #333;
}

.card-theme {
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-theme-left {
  background-color: #FFF;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

.form-switch {
  background-color: #FFF;
  font-size: 2rem;
}

.card-theme .custom-switch {
  width: fit-content;
  justify-self: right;
  background-color: #FFF;
  margin-right: 10px;
}

.container-card {
  background-color: #FFF;
  justify-content: center;
  border-radius: 12px;
  padding: 20px;
  width: 60%;
}

.container-card p {
  background-color: #FFF;
  color: #333;
  width: fit-content;
}

.container-card b {
  background-color: #FFF;
  color: #333;
}

.container-card h6 {
  background-color: #FFF;
  color: #333;
  font-weight: 400;
}

.card-top {
  background-color: #FFF;
  margin-bottom: 10px;
}

.card-input {
  background-color: #FFF;
  width: 100%;
}

.card-input form{
  background-color: #FFF;
}

.card-input .form-control{
  background-color: #FFF;
  margin-top: 12px;
  border-radius: 12px;
}

.card-input .form-select{
  background-color: #FFF;
  margin-top: 12px;
  border-radius: 12px;
}

.card-input button{
  margin-top: 30px;
  border-radius: 12px;
  width: 100%;
}

.fb-form {
  background-color: #FFF;
}

.fb-form p{
  background-color: #FFF;
  font-weight: 400;
  color: #333;
}

.fb-body {
  background-color: #FFF;
  border-radius: 7px;
  align-items: center;
}

.fb-body button{
  width: fit-content;
  justify-self: flex-end;
}

/* src/styles/AdminPanel.css */
.admin-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #F8F9FA;
  overflow: hidden;
}

.dmin-layout::-webkit-scrollbar {
  display: none;
}

.admin-head {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  background-color: #F8F9FA;
  height: 100vh;
  overflow: hidden;
}

.admin-header {
  background-color: #FFF;
  top: 0;
  right: 0;
  left: 250px;
  position: fixed;
  z-index: 1000;
  align-items: center;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.admin-breadcrumbs {
  background-color: #FFF;
  width: 30%;
}

.back-btn {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #FFF;
  color: #212529;
  border: #212529;
}

.admin-search-bar {
  width: 30%;
  background-color: #FFF;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  gap: 8px;
  flex: 1;
  max-width: 350px;
  margin-right: 10px;
}

.search-bar {
  border: none;
  outline: none;
  flex: 1;
  background-color: #FFF;
  color: #212529;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin: 10px;
  background-color: #FFF;
}

.search-btn {
  width: 80px;
  height: 100%;
  margin-right: 5px;
  background-color: #FFF;
  color: grey;
  font-weight: bold;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-btn:hover{
  color: #007BFF;
}

.header-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.notification-btn {
  background-color: transparent;
  font-size: 30px;
  color: #212529;
  cursor: pointer;
  margin-right: 15px;
}

.admin-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.admin-name h5 {
  margin: 0;
  color: #007BFF;
  font-weight: 500;
}

.admin-name p {
  margin: 0;
  color: #999;
  font-size: 12px;
}

.admin-img img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.admin-img {
  background-color: #FFF;
}

.admin-content {
  background-color: #F8F9FA;
  flex: 1;
  width: 100%;
  margin-top: 70px;
  padding: 20px;
  height: calc(100vh - 70px);
  overflow-y: auto;
  box-sizing: border-box;
  scrollbar-width: none;
}

.admin-content::-webkit-scrollbar {
  display: none;
}


.admin-dropdown {
  background-color: transparent;
  width: fit-content;
  color: #FFF;
}

.admin-mg-dropdown {
  background-color: #FFF;
}

.admin-img {
  background-color: #FFF;
  margin-right: 10px;
}

.admin-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  overflow: hidden;
  z-index: 999;
  background-color: #FFF;
}

.sidebar-logo{
  color: #007BFF;
  margin: 20px;
  background-color: #FFF;
  font-size: 2rem;
  font-weight: 700;
}

.sidebar-nav {
  background-color: #FFF;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.admin-nav-links {
  display: flex;
  background-color: #FFF;
  color: #888;
  justify-content: flex-start;
  align-items: center;
  max-width: 200px;
  margin-left: 20px;
  margin-top: 10px;
  padding: 8px 15px;
}

.nav-icons {
  margin-right: 10px;
  color: #007BFF;
  background-color: #FFF;
}

.admin-nav-links:hover{
  background-color: lightblue;
  color: #007BFF;
  border-radius: 10px;
}

.admin-nav-links:hover .nav-icons{
  background-color: lightblue;
}

.dashboard-overview h2 {
  margin-bottom: 20px;
}

.dash-header {
  background-color: #F8F9FA;
}

.dash-header h2{
  background-color: #F8F9FA;
  color: #212529;
  font-weight: 700;
}

.dashboard-cards {
  display: flex;
  gap: 20px;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  align-items: stretch;
  height: auto;
  transition: box-shadow 0.3s ease;
  width: 300px;
  overflow: hidden;
}

.dash-card-name {
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dash-card-in {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
}

.dash-card-in h5{
  background-color: #FFF;
  color: #ccc;
  font-weight: 400;
}

.dash-card-in h3{
  background-color: #FFF;
  color: #212529;
}

.dash-card-icons {
  padding: 10px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin-left: 10px;
}

.admin-card-description {
  display: flex;
  background-color: #FFF;
}

.admin-card-description p{
  background-color: #FFF;
}

.admin-card-icons {
  width: fit-content;
  margin-right: 10px;
  background-color: #FFF;
}

.chart-container {
  background-color: #FFF;
  padding: 20px;
  margin-top: 20px;
}

.chart-container h4{
  background-color: #FFF;
  font-weight: 600;
  color: #212529;
}

.card-chart-container {
  padding: 10px;
  background-color: #FFF;
}

.card-chart {
  background-color: #FFF;
}

.bar-chart {
  background-color: #FFF;
}

.admin-table-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  overflow-x: auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.admin-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.pills-div {
  width: fit-content;
  align-items: center;
}

.pill-filters {
  display: flex;
  gap: 5px;
  padding: 3px 3px;
  border-radius: 17px;
  background-color: lightblue;
}

.pill-btn {
  padding: 4px 18px;
  border: none;
  border-radius: 15px;
  background-color: lightblue;
  color: #555;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pill-btn.active {
  background-color: #fff;
  color: #0d6efd;
  box-shadow: 0 0 5px rgba(13, 110, 253, 0.2);
}


.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
}

.admin-table th {
  background-color: lightblue;
  font-weight: 700;
  color: #212529;
}

.admin-table td {
  font-weight: 500;
}

.admin-table tbody tr:hover {
  background-color: rgb(227, 246, 252);
}

.admin-table a {
  color: #007bff;
  text-decoration: none;
}

.admin-table a:hover {
  text-decoration: underline;
}

.table-header{
  align-items: center;
  background-color: #FFF;
}

.table-header-start h4{
  font-weight: 700;
  color: #212529;
}

.table-header-end {
  width: 25%;
  background-color: #FFF;
  justify-content: space-around;
}

.table-header-end p{
  color: #212529;
  font-weight: 500;
}

.status-dot-container {
  background-color: #FFF;
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-shrink: 0;
}

.status-dot.available {
  background-color: green;
}

.status-dot.sold {
  background-color: red;
}

.pagination-wrapper {
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  width: 100%;
}

.admin-item-detail {
  margin: 20px;
  border-radius: 12px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-evenly;
}

.item-edit-btn {
  width: fit-content;
  align-self: flex-end;
}

.admin-item-image {
  height: 400px;
  overflow: hidden;
}

.admin-item-img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  border-radius: 12px;
}

.admin-item-info {
  padding: 20px;
  margin-top: 100px;
}

.admin-item-info p{
  font-weight: 500;
  color: #212529;
}

.breadcrumb-nav {
  margin: 5px 0;
}
.breadcrumb-list {
  display: flex;
  align-items: center;
  gap: 5px;
  list-style: none;
  padding: 0;
}
.breadcrumb-list li {
  display: flex;
  align-items: center;
  color: #888;
  font-weight: 700;
  font-size: 2rem;
}
.breadcrumb-list li:not(:last-child)::after {
  content: ">";
  margin: 0 8px;
  color: #888;
  font-weight: 700;
  font-size: 2rem;
}
.breadcrumb-list li.active {
  color: #007BFF;
}
.breadcrumb-list a {
  text-decoration: none;
  color: #212529;
  font-weight: 700;
  font-size: 2rem;
}

.people-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  overflow-x: auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.people-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.people-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 20px;
}

.people-profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: lightblue;
}

.people-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.people-profile h5 {
  margin: 0;
  color: #212529;
  font-weight: 500;
}

.people-profile p {
  margin: 0;
  color: #999;
  font-size: 14px;
  font-weight: 500;
  align-self: center;
}

.people-actions {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 10px 10px;
}

.people-actions p {
  background-color: lightblue;
  color: blue;
  border: none;
  padding: 3px 8px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

hr {
  color: #e9e9e9;
}
.people-overwiew {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.overview-header {
  margin: 10px 15px;
  display: flex;
  justify-content: space-between;
}

.overview-header h4{
  color: #212529;
  font-weight: 600;
}

.overview-header p {
  color: gray;
  font-weight: 600;
}

.overview-content {
  margin: 5px 10px;
}

.fav-items {
  border-radius: 10px;
  border: 0.3px solid #e9e9e9;
  padding: 10px 20px 0;
}

.fav-items h5 {
  width: fit-content;
  color: gray;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 3px 5px;
}

.fav-items p {
  color: #212529;
}

.purchased-items {
  border-radius: 10px;
  border: 0.3px solid #e9e9e9;
  padding: 10px 20px 0;
  margin-top: 30px;
}

.purchased-items h5 {
  width: fit-content;
  color: gray;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 3px 5px;
}

.purchased-items p {
  color: #212529;
}

/* Hide sidebar off-canvas when collapsed */
.sidebar.collapsed {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

/* Ensure sidebar is visible when not collapsed */
.sidebar {
  transform: translateX(0);
  transition: transform 0.3s ease;
}

/* Style the menu button */
.menu-btn {
  font-size: 1.25rem;
  color: inherit;
}

/* On larger screens, force sidebar open and hide button */
@media (min-width: 768px) {
  .sidebar,
  .sidebar.collapsed {
    transform: translateX(0);
  }
  .menu-btn {
    display: none;
  }
}

/* Modal Login Buttons */
.modal-body .ggl-btn{
  background-color: #FFF;
  color: #007BFF;
  margin-bottom: 10px;
}

.modal-body img.google-logo{
  height: 20px;
  width: 20px;
}
