*{
  font-family: 'Nunito', sans-serif;
  background-color: #ece6e6;
  width: 100%;
  margin: 0;
  height: auto;
}

/* General Body */
.mainBody {
  background-color: #ece6e6;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.topbar{
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  position: fixed;
  padding: 10px;
  z-index: 1000;
}

/* Sidebar */
.sidebar {
  background-color: #ece6e6;
  width: 300px; /* Adjusted to fit longer names */
  border-right: 1px solid #ccc;
}

.list-group-item {
  background-color: #ece6e6;
  border: none;
}

.list-group-item a {
  display: flex;
  align-items: center;
  color: #333;
}

.list-group-item a:hover {
  background-color: #f56565; /* red-500 */
  color: white;
  border-radius: 10px; /* Rounded corners on hover */
  /* padding: 5px 10px; */
}

.sidebar-divider {
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.topbar-left {
  width: 300px; /* Matches sidebar width */
}

.sidebar-title {
  font-size: 1.8rem;
  color: #cf3636;
  font-weight: bolder;
}

.searchBar {
  width: calc(100% - 400px); /* Remaining space after sidebar */
  margin-left: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Footer */
.copyRight {
  background-color: #ece6e6;
  font-size: 0.9rem;
  color: #333;
}


