*{
  font-family: 'Nunito', sans-serif;
  background-color: #ffffff;
  width: 100%;
  margin: 0;
  height: auto;
}

/* General Body */
.mainBody {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.topbar{
  width: 100%;
  height: auto;
  top: 0;
  left: 0;justify-content: space-evenly;
  position: fixed;
  padding: 10px;
  z-index: 1000;
}

/* Sidebar */
.sidebar {
  background-color: #ffffff;
  width: 20%;
  border-right: 1px solid #ccc;
  padding-top: 50px;
  padding-bottom: 50px;
}

.list-group{
  align-items: center;
  justify-content: space-around;
  margin-top: 110px;
  border: none;
  background-color: #ffffff;
}

.list-group-item {
  border: none  !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #333;
  background-color: transparent;
}

.list-group-item a {
  display: flex;
  width: fit-content;
  font-weight: bold;
  justify-content: space-between;
  color: gray;
  text-decoration: none;
  background-color: transparent;
}

.list-group-item i {
  color: #ff5733;
  width: 20px;
  background-color: transparent;
}

/* .list-group-item a:hover {
  background-color: #ff5733;
  color: white;
  border-radius: 7px;
} */

/* .list-group-item a:hover i {
  color: white;
} */

.list-group :hover{
  background-color: #ff5733;
  color: white;
  border-radius: 7px;
}

.list-group :hover a{
  color: white;
}

.list-group :hover i{
  color: white;
}

.sidebar-divider {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.topbar-left {
  width: 20%;
  padding: 20px;
}
.menubtn{
  color: #ff5733;
}

.sidebar-title {
  font-size: 1.8rem;
  color: #ff5733;
  font-weight: bolder;
  margin-right: 30px;
}

.topbar-middle{
  width: 70%;
  padding: 30px;
}

.topbar-right{
  width: 10%;
  padding: 30px;
}

a {
  color: #ff5733;
}

a .notificationIcon i{
  color: #ff5733;
}


/* Footer */
.copyRight {
  background-color: #ffffff;
  font-size: 0.9rem;
  color: #333;
}


